.b-singlepost.lje-commentsize-smaller .b-leaf-controls, 
.b-singlepost.lje-commentsize-small .b-leaf-controls {
    clear: none !important;
}

.b-singlepost.lje-commentsize-smaller {
    font-size: 12px !important;
    line-height: 1.1 !important;
}

.b-singlepost.lje-commentsize-smaller .b-leaf-userpic {
    max-height: 80px !important;
    max-width: 80px !important;
}

.b-singlepost.lje-commentsize-small {
    font-size: 10px !important;
    line-height: 1.1 !important;
}

.b-singlepost.lje-commentsize-small .b-leaf-userpic {
    max-height: 70px !important;
    max-width: 70px !important;
}





/* Font-size */
/* 10px */
.b-singlepost.lje-commentsize-xxs {
	font-size: 10px !important;
	}

/* 11px */
.b-singlepost.lje-commentsize-xs {
	font-size: 10px !important;
	}

/* 12px */
.b-singlepost.lje-commentsize-s {
	font-size: 10px !important;
	}

/* 13px */
.b-singlepost.lje-commentsize-m {
	font-size: 10px !important;
	}

/* default (14px) */
.b-singlepost.lje-commentsize-l {
	font-size: 10px !important;
	}

/* 15px */
.b-singlepost.lje-commentsize-xl {
	font-size: 10px !important;
	}

/* 16px */
.b-singlepost.lje-commentsize-xxl {
	font-size: 10px !important;
	}



/* Font-family */
/* Arial */
.b-singlepost.lje-commentfont-arial,
.b-singlepost.lje-commentfont-arial .b-watering-textarea {
	font-family: Arial,sans-serif !important;
	}

/* Verdana */
.b-singlepost.lje-commentfont-verdana,
.b-singlepost.lje-commentfont-verdana .b-watering-textarea  {
	font-family: Verdana,Geneva,sans-serif !important;
	}

/* Tahoma */
.b-singlepost.lje-commentfont-tahoma,
.b-singlepost.lje-commentfont-tahoma .b-watering-textarea  {
	font-family: Tahoma,Geneva,sans-serif !important;
	}

/* Helvetica */
.b-singlepost.lje-commentfont-helvetica,
.b-singlepost.lje-commentfont-helvetica .b-watering-textarea  {
	font-family: "Helvetica Neue",Helvetica,sans-serif !important;
	}



/* Userpics */
/* 60x60 */
.b-singlepost.lje-commentpic-60x60 .b-leaf-userpic,
.b-singlepost.lje-commentpic-60x60 .b-leaf-userpic-inner {
	width: 60px;
	height: 60px;
	}
	.b-singlepost.lje-commentsize-60x60 .b-leaf-userpic IMG {
		max-width: 60px;
		max-height: 60px;
		}
.b-singlepost.lje-commentpic-60x60 .b-leaf-details {
	padding: 3px 0 0 8px;
	}
	.b-singlepost.lje-commentpic-60x60 .b-leaf-username,
	.b-singlepost.lje-commentpic-60x60 .b-leaf-meta,
	.b-singlepost.lje-commentpic-60x60 .b-leaf-header .b-leaf-actions {
		margin-bottom: 3px;
		}

/* 70x70 */
.b-singlepost.lje-commentpic-70x70 .b-leaf-userpic,
.b-singlepost.lje-commentpic-70x70 .b-leaf-userpic-inner {
	width: 70px;
	height: 70px;
	}
	.b-singlepost.lje-commentpic-70x70 .b-leaf-userpic IMG {
		max-width: 70px;
		max-height: 70px;
		}
.b-singlepost.lje-commentpic-70x70 .b-leaf-details {
	padding: 3px 0 0 8px;
	}
	.b-singlepost.lje-commentpic-70x70 .b-leaf-username,
	.b-singlepost.lje-commentpic-70x70 .b-leaf-meta,
	.b-singlepost.lje-commentpic-70x70 .b-leaf-header .b-leaf-actions {
		margin-bottom: 3px;
		}

/* 80x80 */
.b-singlepost.lje-commentpic-80x80 .b-leaf-userpic,
.b-singlepost.lje-commentpic-80x80 .b-leaf-userpic-inner {
	width: 80px;
	height: 80px;
	}
	.b-singlepost.lje-commentpic-80x80 .b-leaf-userpic IMG {
		max-width: 80px;
		max-height: 80px;
		}
.b-singlepost.lje-commentpic-80x80 .b-leaf-details {
	padding: 3px 0 0 8px;
	}
	.b-singlepost.lje-commentpic-80x80 .b-leaf-username,
	.b-singlepost.lje-commentpic-80x80 .b-leaf-meta,
	.b-singlepost.lje-commentpic-80x80 .b-leaf-header .b-leaf-actions {
		margin-bottom: 3px;
		}



/* Controls */
.b-singlepost.lje-commentctrl-visible .b-leaf-controls,
.b-singlepost.lje-commentctrl-visible .b-leaf-header .b-leaf-actions {
	visibility: visible !important;
	}
