/* Comment size */
/* X-Small */
.b-singlepost.lje-commentsize-xs {
	font-size: 12px !important;
	}
.b-singlepost.lje-commentsize-xs .b-leaf-userpic,
.b-singlepost.lje-commentsize-xs .b-leaf-userpic-inner {
	width: 50px !important;
	height: 50px !important;
	}
	.b-singlepost.lje-commentsize-xs .b-leaf-userpic IMG {
		max-width: 50px !important;
		max-height: 50px !important;
		}
.b-singlepost.lje-commentsize-xs .b-leaf-details {
	padding: 3px 0 0 8px !important;
	}
	.b-singlepost.lje-commentsize-xs .b-leaf-username,
	.b-singlepost.lje-commentsize-xs .b-leaf-meta,
	.b-singlepost.lje-commentsize-xs .b-leaf-header .b-leaf-actions {
		margin-bottom: 0 !important;
		}
	.b-singlepost.lje-commentsize-xs .b-leaf-controls {
		clear: none !important;
		margin: -2px 0 0 !important;
		}

/* Small */
.b-singlepost.lje-commentsize-s {
	font-size: 13px !important;
	}
.b-singlepost.lje-commentsize-s .b-leaf-userpic,
.b-singlepost.lje-commentsize-s .b-leaf-userpic-inner {
	width: 80px !important;
	height: 80px !important;
	}
	.b-singlepost.lje-commentsize-s .b-leaf-userpic IMG {
		max-width: 80px !important;
		max-height: 80px !important;
		}
.b-singlepost.lje-commentsize-s .b-leaf-details {
	padding: 3px 0 0 8px !important;
	}
	.b-singlepost.lje-commentsize-s .b-leaf-username,
	.b-singlepost.lje-commentsize-s .b-leaf-meta,
	.b-singlepost.lje-commentsize-s .b-leaf-header .b-leaf-actions {
		margin-bottom: 3px !important;
		}

/* Medium */
/* default */

/* Large */
.b-singlepost.lje-commentsize-l {
	font-size: 15px !important;
	}
	.b-singlepost.lje-commentsize-l .b-leaf-username,
	.b-singlepost.lje-commentsize-l .b-leaf-meta,
	.b-singlepost.lje-commentsize-l .b-leaf-header .b-leaf-actions {
		margin-bottom: 5px !important;
		}



/* Hover */
.b-singlepost.lje-commenthover-visible .b-leaf-controls,
.b-singlepost.lje-commenthover-visible .b-leaf-header .b-leaf-actions {
	visibility: visible !important;
	}



/* Subject */
.b-singlepost.lje-commentsubject-show .b-watering-subjectbox {
	margin: 0 0 10px !important;
	}
	.b-singlepost.lje-commentsubject-show .b-watering-subject {
		width: 350px !important;
		}
/*
<div class="b-watering-subjectbox">
<input type="text" class="b-watering-subject" maxlength="55" name="subject" placeholder="Subject">
</div>
*/



/* Font-family */
/* Verdana */
.b-singlepost.lje-commentfont-verdana,
.b-singlepost.lje-commentfont-verdana .b-watering-textarea  {
	font-family: Verdana,Geneva,sans-serif !important;
	}

/* Tahoma */
.b-singlepost.lje-commentfont-tahoma,
.b-singlepost.lje-commentfont-tahoma .b-watering-textarea  {
	font-family: Tahoma,Geneva,sans-serif !important;
	}

/* Helvetica */
.b-singlepost.lje-commentfont-helvetica,
.b-singlepost.lje-commentfont-helvetica .b-watering-textarea  {
	font-family: "Helvetica Neue",Helvetica,sans-serif !important;
	}



/* Gradients */
.b-singlepost.lje-commentgradient-hide .b-leaf:not(.b-leaf-collapsed) .b-leaf-header {
	background: #BDF !important;
	filter: none !important;
	}
.b-singlepost.lje-commentgradient-hide .b-tree-twig[class$="0"] .b-leaf:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-tree-twig[class$="2"] .b-leaf:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-tree-twig[class$="4"] .b-leaf:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-tree-twig[class$="6"] .b-leaf:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-tree-twig[class$="8"] .b-leaf:not(.b-leaf-collapsed) .b-leaf-header {
	background: #ACE !important;
	}
.b-singlepost.lje-commentgradient-hide .b-leaf-screened:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-leaf-frozen:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-leaf-spammed:not(.b-leaf-collapsed) .b-leaf-header {
	background: #E0E0E0 !important;
	}
.b-singlepost.lje-commentgradient-hide .b-leaf-selected:not(.b-leaf-collapsed) .b-leaf-header,
.b-singlepost.lje-commentgradient-hide .b-leaf-collapsed.b-leaf-selected {
	background: #FBE5B3 !important;
	}
