.b-singlepost.lje-commentsize-smaller .b-leaf-controls, 
.b-singlepost.lje-commentsize-small .b-leaf-controls {
    clear: none !important;
}

.b-singlepost.lje-commentsize-smaller {
    font-size: 12px !important;
    line-height: 1.1 !important;
}

.b-singlepost.lje-commentsize-smaller .b-leaf-userpic {
    max-height: 80px !important;
    max-width: 80px !important;
}

.b-singlepost.lje-commentsize-small {
    font-size: 10px !important;
    line-height: 1.1 !important;
}

.b-singlepost.lje-commentsize-small .b-leaf-userpic {
    max-height: 70px !important;
    max-width: 70px !important;
}
